.calendar-wrapper {
    border: 1px solid red;
}

.calendar-year-month {
    text-align: center;
}

.calendar-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-basis: 1;
}

.calendar-weeks {
    display: flex;
    width: 100%;
    justify-content: start;
    flex-basis: 0;
}

.simple_calendar-date-wrapper {
    display: flex;
    justify-items: start;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid red;

    .simple_calendar-date {
        margin: 0.2rem;
        width: 3rem;
        max-width: 3.5rem;
    }
}

.date-cell {
    position: relative;
    margin: 0.2rem;
    padding: 0.4rem 0.8rem;
    width: 3rem;
    max-width: 3.5rem;
    background-color: transparent;
    text-align: center;
    color: #d3d3d3;
    cursor: pointer;

    &:hover {
        background-color: #626262;
    }

    &:active {
        background-color: red;
    }
}

.saturday {
    color: #4856d4;
}

.sunday {
    color: #d44848;
}

.today {
    background-color: #464646;
}

.adjacent-days {
    opacity: 0.4;
}