$hover-color: #626262;
$cell-color: #d3d3d3;

.simple__calendar-wrapper {
}

.simple__calendar-year-month {
    text-align: center;
    font-size: 1.4rem;
    color: #73972f;
}

.simple__calendar-btn-wrapper {
    display: flex;
    justify-content: space-between;
    & .simple__calendar-arrow-btn {
        width: 2rem;
        height: 2rem;
        border: none;
        background-color: #4e4e4e;
        &:hover {
            background-color: $hover-color;
        }
    }
}

.simple__calendar-body {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: start;
    flex-basis: 1;
}

.simple__calendar-weeks {
    display: flex;
    width: 100%;
    justify-content: start;
    flex-basis: 0;
}

.simple__calendar-date-wrapper {
    display: flex;
    justify-items: start;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #797979;

    .simple__calendar-date {
        color: $cell-color;
        margin: 0.2rem;
        width: 3rem;
        max-width: 3.5rem;
    }
}

.simple__calendar-date-cell {
    position: relative;
    margin: 0.2rem;
    padding: 0.4rem 0.8rem;
    width: 3rem;
    max-width: 3.5rem;
    background-color: transparent;
    text-align: center;
    color: $cell-color;
    cursor: pointer;

    &:hover {
        background-color: $hover-color;
    }

    &:active {
        background-color: #949494;
    }
}

.sat {
    color: #4856d4;
}

.sun {
    color: #d44848;
}

.today {
    background-color: #474747;
}

.adjacent {
    opacity: 0.4;
}