$default-background-color: #222222;
$default-font-color: #a1a1a1;

$card_box-background-color: #3b3b3b;
$card_box-title-color: #d8d8d8;
$card_box-content-color: #888888;
$card_box-border-color: #8d8d8d;
$card_box-btn_background_color: #2f2f2f;