.desc_list {
    display: flex;
    
    dt {
        font-weight: bold;
        width: 40%;
        padding-top: 5px;
    }
    dd {
        width: 60%;
        overflow: hidden;
        padding-top: 5px;
    }
}