.dialog {
    position: absolute;
    display: block;
    position: fixed;
    margin: auto 0;
    padding: 2rem;
    min-width: 60vw;
    min-height: 60vh;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #414141;
    color: #dddddd;
    border-radius: 15px;
    z-index: 999;
    opacity: 0;
    animation-name: trans;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dialog-selected-date {
        font-size: 1.7rem;
        color: #dd6a1e;
    }

    .dialog-close-btn {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        background-color: #da3e3e;
        border-radius: 15px;

        &:hover {
            opacity: 0.7;
        }
        &:active {
            opacity: 1;
        }
    }
}

.dialog__input {
    height: 1.5rem !important;
    font-size: 1.1rem !important;
}

@keyframes trans{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}