.main-top-header {
    position: absolute;
    top: 0;
    z-index: 999;
}

.main-nav {
    display: flex;
    flex-direction: row;
}

.link {
    color: #acacac;
    font-size: 1.1rem;
    text-decoration: none;
    margin: 0.5rem;

    &:hover {
        color: #ffffff;
    }
}

.main-header-about-user {
    
}