header {
    position: fixed;
    top: 0;
}

.main-top-header {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: #1a1a1a81;
    padding: 1rem 2rem 1rem 0;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.link {
    color: #acacac;
    font-size: 1.1rem;
    text-decoration: none;
    margin: 0.5rem;
    &:hover {
        color: #ffffff;
    }
}

.main-nav-about-user {
    margin: 0.5rem;
}