.signup-form {
    position: relative;
    display: flex;
    justify-content: center;
}

.signup-fieldset {
    outline: none;
    border: 1px solid #808080;
    padding: 20px;
    margin: 30px;
}

.empty-warn {
    border: 1px solid red;
}