.simple__table-container {
    display: flex;
    flex-direction: column;
    background: fixed;
}

.simple__table-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: #7da875;
    margin-top: 1rem;
    border-bottom: 1px solid #292929;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.simple__table-header {
    background-color: transparent;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.2rem;
    cursor: default;
}

.simple__table-body-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.simple__table-body {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
        
    &:nth-last-child(1) {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        & .simple__table-row-cell:nth-child(1) {
            border-bottom-left-radius: 15px;
        }
        & .simple__table-row-cell:nth-last-child(1) {
            border-bottom-right-radius: 15px;
        }
    }
}
.simple__table-row-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #6d6d6d;
    border-bottom: 1px solid #5a5a5a;
    padding: 0.5rem;
    &:hover {
        background-color: rgb(173, 173, 173);
        cursor: pointer;
    }
}

.simple__table-booked {
    background-color: #27869e;
}
.simple__table-unable {
    background-color: #e46e6e;
}
.simple__table-break-time {
    pointer-events: none;
    background-color: black;
}
.transparent {
    color: transparent;
}

.checked {
    background-color: red !important;
}