.simple__table-container {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    background: fixed;
}

.simple__table-header-container {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    justify-content: center;
    text-align: center;
}
.simple__table-header {
    background-color: #aaaa75;
    border: 1px solid green;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.simple__table-body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.simple__table-body {
    display: flex;

}

.simple__table-row-cell {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: blue;
    &:hover {
        background-color: rgb(173, 173, 173);
    }
}
.unabled {
    background-color: red;
}
.simple__table-break-time {
    background-color: black;
}